# Virtual environment
env/
venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs and text editor settings
.idea/
.vscode/


# Env files for storing sensitive information
.env

# Pytest cache
.pytest_cache/
__pycache__/

# Coverage reports
htmlcov/
.coverage
.coverage.*


# mypy
.mypy_cache/
.dmypy.json
.dmypy/

# Bandit
.bandit/

